{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Sklep Selcor{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

         <!-- jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="../../static/logo/selcor-favi-clean.png" width="30" height="30" alt="LOGO">
            </a>
            <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="http://www.selcor.pl/" class="nav-link">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a href="http://www.selcor.pl/firma/" class="nav-link">Firma</a>
                </li>
                <li class="nav-item">
                    <a href="http://www.selcor.pl/oferta/" class="nav-link">Oferta</a>
                </li>
                <li class="nav-item">
                    <a href="http://www.selcor.pl/uslugi/" class="nav-link">Usługi</a>
                </li>
                <li class="nav-item">
                    <a href="http://www.selcor.pl/katalogi-produktow/" class="nav-link">Katalog</a>
                </li>
                <li class="nav-item">
                    <a href="http://www.selcor.pl/zamowienia/" class="nav-link">Zamówienia</a>
                </li>
                <li class="nav-item">
                    <a href="http://www.selcor.pl/kontakt/" class="nav-link">Kontakt</a>
                </li>
              </ul>
            </div>
            <div class="cart">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <i class="bi bi-cart3"></i>
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        <!-- Koszyk: -->
                        :
                        <a href="{% url "cart:cart_detail" %}">
                            {{ total_items }}, 
                            <!-- produkt{{ total_items|pluralize:"y" }}, -->
                            {{ cart.get_total_price }} zł
                        </a>
                    {% else %}
                        Koszyk jest pusty.
                    {% endif %}
                {% endwith %}
                </button>
            </div> 
        </nav>
        <div id="context">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
